*/  
!*/docker-compose.yml
!*/backup_docker-compose.yml
!*/bak.promptheus.yml
!cheeatsheet.md
!monitor-docker/notes.md

**/config/
**/data/
**/work/
**/library/
**/postgres/
**/downloads/
**/movies/
**/tvseries/
**/media/
**/cache/
**/.cache/
**/.aspnet/
**/log/
**/logs/
**/vw-data/
**/database/
**/*.xml
**/*.json
**/.env
**/.env.*

structure.txt

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

