# Abaikan semua isi folder dan file
**

# Izinkan semua folder di level pertama
!*/

# Izinkan file docker-compose dan backup
!*/docker-compose.yml
!*/backup_docker-compose.yml

# Izinkan file .md dan .sh di semua subfolder
!**/*.md
!**/*.sh

# Tetap abaikan isi folder data dan config (jika ada)
**/data/**
**/config/**
**/library/**
**/postgres/**
**/downloads/**
**/cache/**
**/.cache/**
**/.aspnet/**
**/log/**
**/logs/**
**/database/**
**/media/**
**/vw-data/**

# Abaikan environment file dan konfigurasi lainnya
*.env
*.env.*
*.xml
*.json
*.log

# Abaikan file sistem/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

